<div class="col-md-6">
	<article class="post" data-id="<%= portfolio_item.id %>">
		<div class="post-background" style='background:url(<%= portfolio_img(portfolio_item.thumb_image, 'thumb')%>)'>
			<div class="post-header">
				<h2 class="post-title"><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></h2>
				<ul class="post-meta h5">
					<li><%= portfolio_item.created_at.strftime(" %b %d, %Y")%></li>
					<li><%= portfolio_item.subtitle %></li>
					<% if portfolio_item.technologies.any? %>
						<li><%portfolio_item.technologies.each do |t|%>
							      <%=t.name%>
							   <%end%>
						</li>
					<%end%>
				</ul>
			</div>
			<a class="post-background-link"  href="<%=portfolio_show_path(portfolio_item) %>"></a>
		</div>
	</article>
</div>
