<div class="container portfolio-container">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag portfolio_img(@portfolio_item.main_image, 'main'), width: '100%' %>
    </div>
    
    <div class="col-md-5">
      <h1><%= @portfolio_item.title%></h1>
      <hr>
      
      <em><%= @portfolio_item.subtitle%></em>
      <p><%= markdown @portfolio_item.body%></p>
      
      <hr>
      
      <h3><%= fa_icon "code"%> Technologies Used: </h3>
      <p><%@portfolio_item.technologies.each do |t|%>
          <span class="badge badge-primary"><%=t.name%></span>
         <%end%>
      </p>
      
      <% if logged_in?(:site_admin)%>
        <div>
          <%= link_to "Edit Item", edit_portfolio_path(@portfolio_item), class: 'btn btn-warning'%>
        </div>
     <%end%>
    </div>
  </div>
</div>
<h3><%= fa_icon "picture-o"%> Portfolio Images: </h3>
<p><%@portfolio_item.portfolio_images.each do |i|%>
    <%= image_tag i.image%>
   <%end%>
</p>
<br>
<!-- Related Works-->
<div class="wrapper">
  <section class="module module-divider-top">
  	<div class="container">
  		<div class="row">
  			<div class="col-md-12">
  				<h4 class="text-uppercase text-center m-b-50">Related Works</h4>
  			</div>
  		</div>
  		<br>
  		<div class="row row-portfolio row-related-portfolio" date-portfolio-type="" data-columns="3" data-overlay="">
  			<div class="portfolio-item design undefined">
  				<div class="portfolio-wrapper">
  					<%= image_tag "img-2.jpg", width: "100%"%>
  					<div class="portfolio-overlay"></div>
  					<div class="portfolio-caption">
  						<h5 class="portfolio-title">Mutualismi</h5>
  					</div><a class="portfolio-link" href="portfolio-single.html"></a>
  				</div>
  			</div>
  			<div class="portfolio-item design undefined">
  				<div class="portfolio-wrapper">
  					<%= image_tag "img-2.jpg", width: "100%"%>
  					<div class="portfolio-overlay"></div>
  					<div class="portfolio-caption">
  						<h5 class="portfolio-title">The Perfume</h5>
  					</div><a class="portfolio-link" href="portfolio-single.html"></a>
  				</div>
  			</div>
  			<div class="portfolio-item design undefined">
  				<div class="portfolio-wrapper">
  					<%= image_tag "img-2.jpg", width: "100%"%>
  					<div class="portfolio-overlay"></div>
  					<div class="portfolio-caption">
  						<h5 class="portfolio-title">Bumblebee Icons</h5>
  					</div><a class="portfolio-link" href="portfolio-single.html"></a>
  				</div>
  			</div>
  		</div>
  	</div>
  </section>
  
  <!-- Related Works end-->
  
  <%= render 'show_page_nav'%>
</div>
