<nav>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void()" class="closebtn" onclick="closeNav()">&times;</a>
      <ul class="navbar-nav mr-auto">
        <%= nav_helper 'nav-link', 'li', params[:controller], params[:action] %>  
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.name%>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= login_helper 'dropdown-item' %>
              <%= link_to "Admin", rails_admin_path, class: 'dropdown-item' if logged_in?(:site_admin)%>
            </div>
        </li>
      </ul>
  </div>

  <div class="navbar navbar-fixed-top" id="main">
      <ul>
        <li class="slide-btn"><span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span></li>
          <div class="nav nav-right">
              <%= nav_helper 'nav-link', 'li', params[:controller], params[:action] %>  
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= current_user.name%>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= login_helper 'dropdown-item' %>
                  <%= link_to "Admin", rails_admin_path, class: 'dropdown-item' if logged_in?(:site_admin)%>
                </div>
            </li>
          </div>
      </ul>
  </div>
</nav>

        <%# <li><a href="#page-welcome">Home</a>
        </li>
        </li>
        <li><a href="#page-contact">Contact</a>
        </li> %>
   