<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4><%= fa_icon "quote-left"%> Each One Teach One <%= fa_icon "quote-right"%></h4>
    <p>It's the responsibility of all developers not to just be great at your craft but to have a thirst for knowledge and to share that knowledge with others.</p>
  </div>
  
  <div class="sidebar-module">
    <h4>Follow Me On:</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/ewilkinsiii" target="_blank" ><%= fa_icon "github"%></a></li>
      <li><a href="http://codepen.io/ewilkinsiii/" target="_blank" ><%= fa_icon "codepen"%></a></li>
      <li><a href="https://instagram.com/ew3gezs" target="_blank" ><%= fa_icon "instagram"%></a></li>
      <li><a href="https://twitter.com/ewilkinsiii" target="_blank" ><%= fa_icon "twitter"%></a></li>
      <li><a href="https://www.linkedin.com/pub/eugene-wilkins-iii/21/aa5/188"target="_blank"><%= fa_icon "linkedin"%></a></li>
    </ol>
  </div>
  
  <%if @related_post.nil? %>
    <div class="sidebar-module">
      <h4>Most Viewed Post:</h4>
    </div>
  <%else%>
    <div class="sidebar-module">
      <h4>Related Post:</h4>
      <ol class="list-unstyled">
        <% @related_post.each do |blog| %>
          <li><%= link_to "#{blog.title}", blog_path unless blog.id == @blog.id%></li>
        <%end%>
      </ol>
    </div>
  <%end%>