<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title> <%= @page_title%></title></title>
    <%= csrf_meta_tags %>
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu" rel="stylesheet">
    
    <meta name="keywords" content="<%= @seo_keywords %>" />
    <%= favicon_link_tag 'favicon.ico' %>
    
    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
     <%= render 'shared/blog_nav'%>
    
     <%= render 'shared/blog_masthead'%>
    <div class="container">

      <div class="row">

        <%= yield %>
        
        <%= render 'shared/blog_sidebar' %>
      </div>
      
       <%= render 'shared/blog_footer'%>
      
       <%= alerts%>
    </div>
  </body>
</html>

<script>

function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.9)";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
    document.body.style.backgroundColor = "white";
}
</script>
